@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes fillSkillBar {
    0% { width: 0; }
    100% { width: 80%; }
  }
  
  /* Apply the animation to the skill-bar class */
  /* .skill-bar {
    animation: fillSkillBar 1.5s ease-out forwards;
  } */ 